# Gradle
.gradle/
.gradle-bootstrap/
.gradle-user-home/
build/
out/
bin/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# OS
Thumbs.db
Desktop.ini

# JVM crash logs / replays (can be huge)
hs_err_pid*.log
replay_pid*.log

# Fabric run dirs
run/

# JVM crash logs
hs_err_pid*.log
replay_pid*.log

